body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: 0px;
    background-color: #212121;
    color: #fff;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 300;
  }
  
  header {
    font-size: 4rem;
    background-color: #626262;
    text-align: center;
  }
  
  main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
  }

  footer {
    text-align: center; 
    background-color: #323232;
  }
  
  select, button {
    height: 40px;
    background-color: #626262;
    margin: 20px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
  }
  .buttons {
    text-align: center;
  }
  
  .article {
    background-color: #424242;
    margin: 20px;
    animation: out 0.5s;
  }
  .article:hover {
    box-shadow: 0px 0px 20px 1px black;
    animation: in 0.5s;
  }

  @keyframes in{
    0%  {box-shadow: 0px 0px 0px 0px black;}
    100% {box-shadow: 0px 0px 20px 1px black;}
  }

  @keyframes out{
    0%  {box-shadow: 0px 0px 20px 1px black;}
    100% {box-shadow: 0px 0px 0px 0px black;}
  }

  .article h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
  }

  .article p {
    margin: 5px;
    margin-top: 20px;
  }
  
  .article a,
  .article a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  .article img {
    width: 100%;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}